@font-face {
  font-family: "UBUNTU Light";
  src: url("fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "UBUNTU Regular";
  src: url("fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "UBUNTU Medium";
  src: url("fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "UBUNTU Bold";
  src: url("fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 600;
}
